
        <div class="container">
            <div class="header clearfix">
                <nav role="navigation">
                    <ul class="nav nav-pills pull-right">
                  
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
                        <li routerLinkActive="active"><a routerLink="/about">About</a></li>
                        <li routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
                        
                    </ul>
                </nav>
                <h2 class="text-muted">History Navigation</h2>
            </div>
            <div id="stage">
              <router-outlet></router-outlet>
            </div>
        </div>