
        <div class="container">
            <div class="header clearfix">
                <nav role="navigation">
                    <ul class="nav nav-pills pull-right">
                    
                        <li><a href="./">Home</a></li>
                        <li><a href="./about">About</a></li>
                        <li><a href="./contact">Contact</a></li>
                        
                    </ul>
                </nav>
                <h2 class="text-muted">History Navigation</h2>
            </div>
            <div id="stage"></div>
        </div>